body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 12px;
    background-color: #015d10b9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #c200ab;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
