main{
    display: block;
    margin: 0 auto;
    max-width: 500px;
}
img {
    max-width: 500px;
    height: 250px;
    border-radius: 50px;
    width: 100%;
    box-shadow: 0 0 40px rgba(0, 128, 0, 0.526);
}
h1, h4{
    text-align: center;
    color:darkmagenta;
}
img:hover
{
    box-shadow: 0 0 10px purple;    
}
table, th, td {
    border: 1px solid purple;
    text-align: center;
}
th {
    background-color: rgb(218, 78, 209);
    color: white;
}
tr:nth-child(even) {
    background-color: #ee9eee;
}
table {
    width: 100%;
}
tr:hover {
    background-color: rgba(128, 128, 128, 0.247);
}